.lp-item{
    position:relative;
}

.lp-item img{
    width:100%;
    display:block;
}

.price-link{
    position:absolute;
    left:10%;
    width:80%;
    height:7%;
    bottom:5%;

    background:red;
    opacity:0.4;

    z-index:10;
}

.all-item-link{
    position:absolute;
    left:5%;
    width:90%;
    height:8%;
    bottom:2%;

    background:blue;
    opacity:0.4;

    z-index:10;
}
